{% extends "base.html" %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col mx-auto pr-5">
                    <br><br><br><br>
                    <h1>- Connection -</h1>
                    <div>
                        <form action="" method='POST'>
                            {%csrf_token%}
                            {% for error in form.non_field_errors %}
                            <div class="form-group has-errors text-danger small">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% for field in form %}
                            <div class="form-group has-errors text-danger small">
                                {{field.errors}}
                            </div>
                            <div class="form-group has-errors text-danger small">
                            </div>
                            <div class="form-group">
                                {{field}}
                            </div>
                            {% endfor %}
                            <button class="btn btn-primary" style="width:100%">Connection</button>
                        </form>
                    </div>
                    {{html}}
                </div>
                <div class="col mx-auto v-divider pl-5">
                    <h1>- Inscription -</h1>
                    <div>
                        <form action="regform" method="post">
                            {%csrf_token%}
                            {% for error in formreg.non_field_errors %}
                            <div class="form-group has-errors text-danger small">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% for field in formreg %}
                            <div class="form-group has-errors text-danger small">
                                {{field.errors}}
                            </div>
                            <div class="form-group has-errors text-danger small">
                            </div>
                            <div class="form-group">
                                {{field}}
                            </div>
                            {% endfor %}
                            <button class="btn btn-primary" style="width:100%">Inscription</button>
                        </form>
                    </div>
                </div>
            </div>

{% endblock %}