{% load static %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'><br>

    <img class="img-fluid mx-auto d-block" src="{% static 'img/title.png' %}" alt="Diving is fun"/>
</head>





<body>
<div class="wrapper">
<header class="header" style="height: 1000px;">
<div class="full-center">
    <br><br>
        {% block content %}
        {% endblock %}
    </div>
    <canvas id="canvas" width="1680" height="1213">
    </canvas>

</header>
<script src="{% static 'js/circleMagic.js' %}"></script>

    <script>
        $('.header').circleMagic({
            elem: '.header',
            radius: 90,
            densety: .3,
            color: 'rgba(255,255,255, .4)',
            //color: 'random',
            clearOffset: .9
        });
</script>

<!--
    <div class="footer">
    <img class="img-fluid mx-auto d-block" src="{% static 'img/foot.png' %}" alt="Diving is fun"></head>
-->
</div>
</body>

</html>