{% extends "base.html" %}

{% block content %}
    <pre><center>
        <h1>Formulaire d'enregistrement</h1>
        <h2>{{ html }}</h2>
        <form action = '' method="post">
            <!-- Very Important csrf Token -->
            {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" name="register">
    </form>
    </center></pre>
</body>
</html>

{% endblock %}