{% extends "divelogger/navbar.html" %}
{% load static %}

{% block appContent %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Carnet de Plongées</h1>
          <h1 class="h2">{{ username }}</h1>
      </div>

            <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-area-chart fa-3x"></i>
            <div class="info">
              <h4>Total</h4>
              <p><b>{{ totalDives }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-anchor fa-3x"></i>
            <div class="info">
              <h4>Profondeur Max</h4>
              <p><b>{{ profMax }} m</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-ship fa-3x"></i>
            <div class="info">
              <h4>Durée Max</h4>
              <p><b>{{ dureeMax }} mn</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-beer fa-3x"></i>
            <div class="info">
              <h4>Saturation</h4>
              <p><b>{{ saturation }}</b></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="row mx-auto mt-5 mb-2" >
            <h3>Statistiques récentes</h3>
          </div>
            <div>
        <br>
        <table class="table table-hover ">
          <thead class="thead-dark">
          <tr>
            <th>N°</th>
            <th>Durée (mn)</th>
            <th>Profondeur (m)</th>
            <th>Date</th>
            <th>Lieu</th>
            <th>Résumé</th>
          </tr>
          </thead>
          <tbody>
          {% for plongee in plongees %}
          <tr>
            <td>{{plongee.id}}</td>
            <td>{{plongee.length}}</td>
            <td>{{plongee.depth}}</td>
            <td>{{plongee.date}}</td>
            <td>{{plongee.location}}</td>
            <td>{{plongee.summary}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
        </div>
        <div class="col-md-3">
          <div class="row v-divider newdive">
            <h3>Nouvelle Plongée</h3>
            <form action="" method='post'>
                            {%csrf_token%}
                            {% for error in formND.non_field_errors %}
                            <div class="form-group has-errors text-danger small">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% for field in formND %}
                            <div class="form-group has-errors text-danger small">
                                {{field.errors}}
                            </div>
                            <div class="form-group has-errors text-danger small">
                            </div>
                            <div class="form-group">
                                {{field}}
                            </div>
                            {% endfor %}
                            <button class="btn btn-primary" style="width:100%">Valider</button>
                            <br>
                        </form>
              <br>
              <br>
          </div>
        </div>
      </div>

</body>
{% endblock %}