{% extends "divelogger/navbar.html" %}
{% load static %}

{% block appContent %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Tableau de bord</h1>
        <h1 class="h2">{{ username }}</h1>
      </div>

      <div>
        <br>
        <table class="table table-hover ">
          <thead class="thead-dark">
          <tr>
            <th>N°</th>
            <th>Plongeur</th>
            <th>Durée (mn)</th>
            <th>Profondeur (m)</th>
            <th>Date</th>
            <th>Lieu</th>
            <th>Résumé</th>
          </tr>
          </thead>
          <tbody>
          {% for plongee in plongees %}
          <tr>
            <td>{{plongee.id}}</td>
            <td>{{plongee.diverPrenom}}</td>
            <td>{{plongee.length}}</td>
            <td>{{plongee.depth}}</td>
            <td>{{plongee.date}}</td>
            <td>{{plongee.location}}</td>
            <td>{{plongee.summary}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
</body>
{% endblock %}