{% extends "base.html" %}
{% load static %}

{% block content %}
<body>

<div class="container-fluid">
  <div class="row form-group">
    <div class="col-md-2">
      <div class="row mx-auto mt-5 mb-2" >
        <a class="btn navbar" href="./divelogger">
          <img src="{% static 'img/manta.png' %}" width="70"></img>
          <h2>Accueil</h2>
        </a>
      </div>
      <div class="row mx-auto mt-3 mb-2">
        <a class="btn navbar" href="profil">
          <img src="{% static 'img/mask.png' %}" width="60"></img>
          <h2>Profil</h2>
        </a>
      </div>
      <div class="row mx-auto mt-3 mb-5">
        <a class="btn navbar" href="carnet">
          <img src="{% static 'img/accueil.png' %}" width="50" />
          <h2>Carnet</h2>
        </a>
      </div>
    </div>
      {% block appContent %}
        {% endblock %}
{% endblock %}