{% extends "divelogger/navbar.html" %}
{% load static %}

{% block appContent %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Votre Profil</h1>
        <h1 class="h2">{{ username }}</h1>
      </div>

      <div class="form-group row">
        <label for="nom" class="control-label col-sm-2">Nom</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="nom" placeholder="{{diver.nom}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="prenom" class="control-label col-sm-2">Prenom</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="prenom" placeholder="{{diver.prenom}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="control-label col-sm-2">Email</label>
        <div class="col-sm-5">
         <input type="text" class="form-control" id="email" placeholder="{{diver.email}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="niveau" class="control-label col-sm-2">Niveau</label>
        <div class="col-sm-5">
         <input type="text" class="form-control" id="niveau" placeholder="{{diver.niveau}}">
        </div>
    </div>
</body>
{% endblock %}